html{
height:100%;
overflow: hidden;
padding:0;
margin:0;
}
body{
height:100%;
position:absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
padding: 0;
border:0;
background:url(img/index_bg.png) no-repeat 100% 100% #000;
padding-right:24px;
}
#txt{
resize:none;
color:#ddd;
font-size:16px;
line-height:33px;
font-family:Segoe UI,Tahoma,Arial,Verdana,sans-serif;
width:100%;
height:100%;
border:0;
background:none repeat scroll 0 0 transparent;
margin:0;
text-shadow:1px -1px 2px #000;
padding-left:24px;
}

