<!doctype html>\
<head>\
<meta charset="utf-8">\
<link rel="stylesheet" href="http://nf.42qu.us/css/base.css" type="text/css">
<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.8/jquery.min.js"></script>
<script type="text/javascript" src="http://nf.42qu.us/js/base.js"></script>
${self.html_head()}\
<title>${self.html_title()}</title>\
</head>\
<body>${next.body()}${self.html_foot()}</body>\
<%def name="html_title()"></%def>\
<%def name="html_head()"></%def>\
<%def name="html_foot()"></%def>\

