<%inherit file="/_base.html" />
<%def name="html_title()">42qu . 记事本</%def>
<%def name="html_head()">
<link rel="stylesheet" href="http://nf.42qu.us/css/index.css" type="text/css">
</%def>
<textarea id="txt">${txt}</textarea>
<script src="http://nf.42qu.us/js/index.js"></script>\
